leadcapture/make_scenario_blueprint_updated.json
{
    "name": "FB Lead → GoHighLevel → SMS → Airtable (with error email)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true
            },
            "mapper": {
                "url": "https://rest.gohighlevel.com/v1/contacts/",
                "method": "post",
                "qs": [],
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer YOUR_GHL_API_KEY"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "bodyType": "raw",
                "contentType": "application/json",
                "data": "{\"firstName\":\"{{1.first_name}}\",\"lastName\":\"{{1.last_name}}\",\"email\":\"{{1.email}}\",\"phone\":\"{{1.phone}}\"}",
                "shareCookies": false,
                "followRedirect": true,
                "useQuerystring": false,
                "rejectUnauthorized": true,
                "gzip": true,
                "timeout": ""
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true
            },
            "mapper": {
                "url": "https://YOUR_SMS_ENDPOINT_HERE",
                "method": "post",
                "qs": [],
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer YOUR_SMS_API_KEY"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "bodyType": "raw",
                "contentType": "application/json",
                "data": "{\"to\":\"{{1.phone}}\",\"message\":\"Hi {{1.first_name}}, thanks for your interest!\"}",
                "shareCookies": false,
                "followRedirect": true,
                "useQuerystring": false,
                "rejectUnauthorized": true,
                "gzip": true,
                "timeout": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {},
            "mapper": {
                "base": "YOUR_AIRTABLE_BASE_ID",
                "table": "YOUR_AIRTABLE_TABLE_ID",
                "typecast": false,
                "useColumnId": false,
                "record": {
                    "fldLeadSource": "Facebook Lead Ads",
                    "fldFirstName": "{{1.first_name}}",
                    "fldLastName": "{{1.last_name}}",
                    "fldEmail": "{{1.email}}",
                    "fldPhone": "{{1.phone}}",
                    "fldGHLContactId": "{{2.body.id}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 4569089
                            },
                            "filter": {
                                "name": "Any HTTP/Airtable error",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.error}}",
                                            "b": true,
                                            "o": "boolean:equal"
                                        },
                                        {
                                            "a": "{{3.error}}",
                                            "b": true,
                                            "o": "boolean:equal"
                                        },
                                        {
                                            "a": "{{4.error}}",
                                            "b": true,
                                            "o": "boolean:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "ryan@spunwebtechnology.com"
                                ],
                                "subject": "Testing from Ryan Thompson",
                                "bodyType": "collection",
                                "signature": "<div dir=\"ltr\"><div><div dir=\"ltr\"><div><div dir=\"ltr\"><div><br></div><div>Best regards,</div><div> <b> Ryan Thompson<br></b></div><div><span>Phone:   +18083656628<br></span></div><div><span>WhatsApp:     +18083656628</span></div><div><span>Ireland:  </span>+18083656628</div><div><span>Calendar/Schedule Appointment<br><a href=\"https://calendly.com/techpronow\" target=\"_blank\">https://calendly.com/techpronow</a></span></div><div><a href=\"https://Linktree.com/techpronow\" target=\"_blank\">Linktree.com/techpronow</a></div><div><br></div>Disclaimer;<br><div><span style=\"font-family:&#39;Courier New&#39;,Courier,mono;font-size:13px;text-align:-webkit-left;background-color:rgb(255,255,255)\">This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.</span>\n</div></div></div></div></div></div>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Gmail connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Collection of contents (text, images, etc.)"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        },
                                        "contents": {
                                            "mode": "chose"
                                        },
                                        "signature": {
                                            "mode": "chose",
                                            "label": "Ryan Thompson"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": false,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "CC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "BCC recipients",
                                        "spec": {
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "type": "array",
                                        "label": "Additional email headers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "contents",
                                        "type": "array",
                                        "label": "Body contents",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "filename",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "semantic": "file:data"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Content",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "signature",
                                        "type": "select",
                                        "label": "Signature content"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}
