GPT 4 Image Processing/blueprint.json
{
  "name": "Business Card Processing (Make Blueprint)",
  "flow": [
    {"id":1,"module":"gateway:CustomWebHook","version":1,"parameters":{},"mapper":{},"metadata":{"designer":{"x":0,"y":0}}},
    {"id":2,"module":"http:ActionSendData","version":3,"parameters":{"handleErrors":true},"mapper":{"url":"{{1.imageUrl}}","method":"get","qs":[],"headers":[],"bodyType":"raw","contentType":"application/json","data":"","shareCookies":false,"followRedirect":true,"useQuerystring":false,"rejectUnauthorized":true,"gzip":true,"timeout":""},"metadata":{"designer":{"x":250,"y":0}}},
    {"id":3,"module":"http:ActionSendData","version":3,"parameters":{"handleErrors":true},"mapper":{"url":"https://api.openai.com/v1/chat/completions","method":"post","qs":[],"headers":[{"name":"Authorization","value":"Bearer {{OPENAI_API_KEY}}"},{"name":"Content-Type","value":"application/json"}],"bodyType":"raw","contentType":"application/json","data":"{\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        { \"type\": \"input_text\", \"text\": \"Extract business_name, contact_name, phone_number, email, website, address as JSON.\" },\n        { \"type\": \"input_image\", \"image_url\": \"{{1.imageUrl}}\" }\n      ]\n    }\n  ]\n}","shareCookies":false,"followRedirect":true,"useQuerystring":false,"rejectUnauthorized":true,"gzip":true,"timeout":""},"metadata":{"designer":{"x":500,"y":0}}},
    {"id":4,"module":"airtable:ActionCreateRecord","version":3,"parameters":{},"mapper":{"base":"{{AIRTABLE_BASE_ID}}","table":"{{AIRTABLE_TABLE_NAME}}","typecast":false,"useColumnId":false,"record":{"business_name":"{{3.body.choices[0].message.content.business_name}}","contact_name":"{{3.body.choices[0].message.content.contact_name}}","phone_number":"{{3.body.choices[0].message.content.phone_number}}","email":"{{3.body.choices[0].message.content.email}}","website":"{{3.body.choices[0].message.content.website}}","address":"{{3.body.choices[0].message.content.address}}","source_image":"{{1.imageUrl}}","status":"Processed"}},"metadata":{"designer":{"x":750,"y":0}}},
    {"id":5,"module":"gmail:sendEmail","version":1,"parameters":{},"mapper":{"to":"{{1.notifyEmail}}","subject":"Business card processed","contentType":"text/html","body":"Processed data stored in Airtable for image: {{1.imageUrl}}"},"metadata":{"designer":{"x":1000,"y":0}}}
  ],
  "metadata": {"instant":true,"version":1,"scenario":{"roundtrips":1,"maxErrors":3,"autoCommit":true,"autoCommitTriggerLast":true,"sequential":false,"slots":null,"confidential":false,"dataloss":false,"dlq":false,"freshVariables":false},"designer":{"orphans":[]},"zone":"us1.make.com","notes":[]}
}
