Facebook Leads to Email & SMS Automation/blueprint.json
{
  "name": "Facebook Leads → Email & SMS Automation (Make)",
  "flow": [
    {"id":1,"module":"gateway:CustomWebHook","version":1,"parameters":{},"mapper":{},"metadata":{"designer":{"x":0,"y":0}}},
    {"id":2,"module":"http:ActionSendData","version":3,"parameters":{"handleErrors":true},"mapper":{"url":"https://api.airtable.com/v0/{{AIRTABLE_BASE_ID}}/leads?filterByFormula=LOWER(email)='{{lower(1.email)}}'","method":"get","qs":[],"headers":[{"name":"Authorization","value":"Bearer {{AIRTABLE_API_KEY}}"}],"bodyType":"raw","contentType":"application/json","data":"","shareCookies":false,"followRedirect":true,"useQuerystring":true,"rejectUnauthorized":true,"gzip":true,"timeout":""},"metadata":{"designer":{"x":250,"y":0}}},
    {"id":3,"module":"builtin:BasicRouter","version":1,"mapper":null,"metadata":{"designer":{"x":500,"y":0}},"routes":[{"flow":[{"id":4,"module":"gmail:sendEmail","version":1,"parameters":{},"filter":{"name":"New lead","conditions":[[{"a":"{{length(2.body.records)}}","b":0,"o":"number:equal"}]]},"mapper":{"to":"{{1.email}}","subject":"Thank you for your interest in {{companyName}}!","contentType":"text/html","body":"Hi {{1.full_name}}, we will be in touch soon. {{videoLink}}"},"metadata":{"designer":{"x":750,"y":0}}},{"id":5,"module":"http:ActionSendData","version":3,"parameters":{"handleErrors":true},"mapper":{"url":"https://api.twilio.com/2010-04-01/Accounts/{{TWILIO_ACCOUNT_SID}}/Messages.json","method":"post","qs":[],"headers":[{"name":"Authorization","value":"Basic {{TWILIO_BASIC_AUTH}}"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"}],"bodyType":"raw","contentType":"application/x-www-form-urlencoded","data":"To={{1.phone}}&From={{TWILIO_FROM}}&Body=Hi {{1.full_name}}! Thanks for your interest in {{companyName}}. {{videoLink}}","shareCookies":false,"followRedirect":true,"useQuerystring":false,"rejectUnauthorized":true,"gzip":true,"timeout":""},"metadata":{"designer":{"x":1000,"y":0}}},{"id":6,"module":"airtable:ActionCreateRecord","version":3,"parameters":{},"mapper":{"base":"{{AIRTABLE_BASE_ID}}","table":"leads","typecast":false,"useColumnId":false,"record":{"email":"{{1.email}}","name":"{{1.full_name}}","phone":"{{1.phone}}","source":"Facebook","date":"{{now}}","status":"New Lead"}},"metadata":{"designer":{"x":1250,"y":0}}},{"id":7,"module":"http:ActionSendData","version":3,"parameters":{"handleErrors":true},"mapper":{"url":"{{SLACK_WEBHOOK_URL}}","method":"post","qs":[],"headers":[{"name":"Content-Type","value":"application/json"}],"bodyType":"raw","contentType":"application/json","data":"{ \"text\": \"New Facebook lead: {{1.full_name}} ({{1.email}}, {{1.phone}})\" }","shareCookies":false,"followRedirect":true,"useQuerystring":false,"rejectUnauthorized":true,"gzip":true,"timeout":""},"metadata":{"designer":{"x":1500,"y":0}}}]},{"flow":[{"id":8,"module":"gmail:sendEmail","version":1,"parameters":{},"filter":{"name":"Existing lead","conditions":[[{"a":"{{length(2.body.records)}}","b":0,"o":"number:greater"}]]},"mapper":{"to":"{{1.email}}","subject":"We received your interest","contentType":"text/html","body":"Hi {{1.full_name}}, our team will follow up shortly."},"metadata":{"designer":{"x":750,"y":150}}}]}]}
  ],
  "metadata": {"instant":true,"version":1,"scenario":{"roundtrips":1,"maxErrors":3,"autoCommit":true,"autoCommitTriggerLast":true,"sequential":false,"slots":null,"confidential":false,"dataloss":false,"dlq":false,"freshVariables":false},"designer":{"orphans":[]},"zone":"us1.make.com","notes":[]}
}
